KEYCLOAK_CLIENT_ID=faim-lab
KEYCLOAK_CLIENT_SECRET=change_me_in_prod
KEYCLOAK_ISSUER=http://localhost:8080/realms/faim-lab
NEXTAUTH_SECRET=change_me_to_random_string_in_prod
NEXTAUTH_URL=http://localhost:3000
