fastapi
uvicorn
sqlalchemy
python-jose[cryptography]
passlib[argon2]
argon2-cffi
email-validator
python-multipart
requests
stripe
redis
qdrant-client
psutil
numpy
slowapi
psycopg2-binary
httpx
celery
aiofiles
groq
PyMuPDF
python-docx
openpyxl
alembic
defusedxml
torch
loguru
openai
pytesseract
Pillow
python-pptx
pypdf
sentence-transformers
